*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*
        font-size: 10px === 62.5 % of 16px (1rem) (default browser value)
    */
    font-size: 62.5%; // 10/16px = 0.625 (62.5%)

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1rem = 9px
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1 rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px,  12/16 = 0.75 (75%)
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}
